.jumbotron {
  background: transparent;
  position: relative;
  min-height: 650px;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/mountain.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    z-index: -1;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/devices.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    z-index: -1;
  }
}
