<template name="blogPosts">
  <section class="blog-posts">
    <div class="big-text">
      <div class="big-text-column">
        <div class="big-text-first text-white">Our</div>
        <div class="big-text-third text-white">latest</div>
      </div>
      <div class="big-text-column">
        <div class="big-text-second text-white">blog</div>
      </div>
      <div class="big-text-column">
        <div class="big-text-third text-white">posts</div>
      </div>
    </div>
    <section class="posts-slider">
      <div class="container">
        <div class="slider-wrapper">
          <div class="slides">
            {{#each posts}}
              {{>postPreview}}
            {{/each}}
          </div>
        </div>
        <input id="slider_control" type="range" min="0" max="100" step="1" value="0"/>
      </div>
    </section>
  </section>
</template>

<template name="postPreview">
  <article class="post-preview">
    <div class="post-image">
      <img src="{{image_path}}" alt="">
    </div>
    <main>
      <date>
        <div class="num">{{day}}</div>
        <div class="month">{{month}}</div>
      </date>
      <author>by {{author}}</author>
      <h6>{{title}}</h6>
      <a href="{{url}}" class="post-link">read article</a>
    </main>
  </article>
</template>
