<template name="footer">
  <footer class="app-footer">
    <div class="container">
      <div class="footer-copyrights">
        <span>&copy; Copyright 2010 - 2013. Altair. All rights reserved.</span>
      </div>
      <div class="footer-right">
        Follow Us:
        <ul class="social-links">
          <li>
            <a href="#" class="fa-stack">
              <i class="fa fa-circle-o fa-stack-2x"></i>
              <i class="fa fa-stack-1x fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#" class="fa-stack">
              <i class="fa fa-circle-o fa-stack-2x"></i>
              <i class="fa fa-stack-1x fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#" class="fa-stack">
              <i class="fa fa-circle-o fa-stack-2x"></i>
              <i class="fa fa-stack-1x fa-dribbble"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</template>
