<template name="howWeWork">
  <section class="how-we-work">
    <div class="big-text">
      <div class="big-text-one">
        <div class="big-text-second text-red">How</div>
      </div>
      <div class="big-text-two">
        <div class="big-text-five">We</div>
      </div>
      <div class="big-text-three">
        <div class="big-text-second text-red">Work</div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3><i class="fa fa-lightbulb-o"></i>Plan</h3>
          <p class="negative">{{>lorem}}</p>
        </div>
        <div class="col-md-4">
          <h3><i class="fa fa-gears"></i>Action</h3>
          <p class="negative">{{>lorem}}</p>
        </div>
        <div class="col-md-4">
          <h3><i class="fa fa-rocket"></i>Launch</h3>
          <p class="negative">{{>lorem}}</p>
        </div>
      </div>
      <div class="btn-wrapper">
        <a href="#" class="btn btn-primary">Work with us!</a>
      </div>
    </div>
  </section>
</template>
