<template name="lastWork">
    <section class="our-latest-work text-white">
      <div class="container">
        <div class="big-text text-white">
          <div class="big-text-column">
            <div class="big-text-first">Our</div>
            <div class="big-text-third">Latest</div>
          </div>
          <div class="big-text-column">
            <div class="big-text-second">Work</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h4>BRRRILLIANT</h4>
            <p>{{>lorem 50}}</p>
            <ul class="items">
              <li><i class="fa fa-trophy"></i>trophy</li>
              <li><i class="fa fa-list-ul"></i>list items</li>
              <li><i class="fa fa-star"></i>rating</li>
            </ul>
          </div>
          <div class="col-md-4 work-image">
            <img src="/images/iphone.png" alt="iphone"/>
          </div>
          <div class="col-md-4">
            <h4>Technologies used</h4>
            <ul class="tech-box">
              <li>
                <div>
                  <i class="fa fa-html5"></i>
                  <span>HTML5</span>
                </div>
              </li>
              <li>
                <div>
                  <i class="fa fa-css3"></i>
                  <span>CSS3</span>
                </div>
              </li>
              <li>
                <div>
                  <i class="fa fa-android"></i>
                  <span>Android</span>
                </div>
              </li>
            </ul>
            <a href="#" class="link">View Gallery</a>
          </div>
        </div>
        <div class="pagination">
          <a href="#" class="prev">previous project</a>
          <div class="num">01/<sub>04</sub></div>
          <a href="#" class="next">next project</a>
        </div>
      </div>
    </section>
</template>
